/* Container color: #303030 */
/* body color: #1a1a1a */

body {
  background-color: #1a1a1a !important;
}
.text {
  color: white;
}
.sitenav {
  background-color: #48847c !important;
  text-align: right;
}
#sitetitle {
  position: relative;
  color: white;
  /* float: right; */
}
#company_logo {
  /* float: right; */
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 1%;
}
#profile_pic {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 5%;
}
.navcontainer {
  padding: 0% 2% 0% 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  /* border: solid 1px black; */
}
.grid-container {
  display: grid;
  border: none;
  grid-template-columns: 5% 5% 5%;
  grid-template-rows: 5% 5% 5%;
  grid-gap: 5px;
  margin-top: 1.5% !important;
  margin: auto;
  width: 95vw !important;
  height: 85vh;
}
.tab {
  border: solid 1px #7a7a7a;
  background-color: #202020;
  border-radius: 6px;
  padding: 10px;
}
.grid-item {
  /* border: solid 1px red; */
  color: white;
}
.profile {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 20;
}
.question-select {
  display: table;
  align-items: baseline;
  grid-column-start: 7;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 3;
}
.video {
  grid-column-start: 7;
  grid-column-end: 17;
  grid-row-start: 4;
  grid-row-end: 16;
}
.overview {
  grid-column-start: 17;
  grid-column-end: 20;
  grid-row-start: 4;
  grid-row-end: 20;
  text-align: center;
}
.comment {
  /* text-align: center; */
  grid-row-start: 16;
  grid-row-end: 20;
  grid-column-start: 7;
  grid-column-end: 17;
}
.comment-box {
  background-color: #303030;
  border: solid 1px #7a7a7a;
  resize: none;
  padding: 4px;
  color: white;
  width: 90%;
  height: 55%;
  border-radius: 6px;
}
.savebutton {
  float: right;
  margin-right: 10%;
  margin-top: 2%;
}
.resultsbutton {
  margin-left: 25%;
  margin-right: 25%;
  /* margin-top: 45%; */
}
#modaltable {
  width: 100%;
  text-align: center;
  border: solid 1px white;
}
tr {
  border: solid 1px white;
}
th {
  border: solid 1px white;
}
td {
  border: solid 1px white;
}
.modaltitle {
  text-align: center !important;
}
.modal-content {
  background-color: #303030 !important;
}
nav ul li a {
  background-color: #303030 !important;
  color: white;
}
.page-nav {
  display: table-cell;
  text-align: right;
  width: 20%;
}
#myChart {
  /* border: solid 1px red; */
  background-color: #202020 !important;
  margin-top: 20%;
  margin-bottom: 15%;
  height: 270px !important;
  width: 270px !important;
  margin-left: auto;
  margin-right: auto;
}
